{% extends "template.html" %}
{% block title %}Add to Story{% endblock %}
{% block body %}
	<h1> Add to Story </h1>

  {% for message in get_flashed_messages() %}
    {{ message }}
    <br>
  {% endfor %}
	<form>
	  ID:
	  <input type="text" name="storyID">
	  <br>
    <label for="content">Content:</label>
    <br>
    <textarea rows="15" cols="90" name="text"
        placeholder="Enter story content here"
        required></textarea>
    <br>
    <input type="submit" name="sub1">
    </form>
		<a href="http://127.0.0.1:5000/loggedIn">Go Back</a>
	</tr>
	{% endblock %}
