{% extends "template.html" %}
{% block title %}Home Page{% endblock %}

{% block body %}
<form id = "logout" action="/">
	<button id = "button" type="submit"> Logout</button>
</form>
<div>
	<br> <br>
	<h2> Welcome</h2>
	<br>
	<form action = "/loggedIn">
	Search for a story: <input type="text" name="search">
	<br> <br>
	<input id = "button" type="submit" name="sub1">
</div>
	<br> <br> <br> <br>
	<div id = "table"><h3>Edited Stories</h3>
	<br> <br>
	<table align = "center">
		<td><b>storyID</b></td>
		<td><b>Story title</b></td>
		<td><b>Content</b></td>
		{% for stories in storylist%}
		<tr>
			<td>{{stories[0]}}</td>
			<td>{{stories[1]}}</td>
			<td>{{editlist[stories[0]]}}</td>
		</tr>
		{% endfor %}
	</table>
</div>
	<hr>
  <br>
	<br>
	<div id = "table"><h3>Unedited Stories</h3>
	<br> <br>
	<table align = "center">
		<td><b>storyID</b></td>
		<td><b>Story title</b></td>
		<td><b>Most recent added</b></td>
		{% for stories in storylist%}
		<tr>
			<td>{{stories[0]}}</td>
			<td>{{stories[1]}}</td>
			<td>{{editlistrecent[stories[0]]}}</td> 
			<td><a id = "button" href="http://127.0.0.1:5000/addToStory ">Add to Story</a></td>
		</tr>
		{% endfor %}
	</table>
	</div>
  </form>
	<br>
	<form action="/view">
		<button id = "button" type="submit"> View All Stories</button>
	</form>
	<br>
	<a id = "button" href="http://127.0.0.1:5000/addStory">Create Story</a>
{% endblock %}
