{% extends "template.html" %}
{% block title %}Home Page{% endblock %}
{% block body %}
	<h1> Home Page</h1>
	<form action="/">
		<button type="submit"> Logout</button>
	</form>
	<a href="http://127.0.0.1:5000/addStory">Create Story</a>


	<h2> Welcome</h2>

	<form action = "/loggedIn">
	Search: <input type="text" name="search">
	<br>
	<input type="submit" name="sub1">

	<table>
		<th>storylist</th>
		{% for stories in storylist%}
		<tr>
			<td>{{stories[0]}}</td>
			<td>{{stories[1]}}</td>
		</tr>
		{% endfor %}
		<th>editlist</th>
		{% for text in editlist%}
		<tr>
			<td>{{text}}</td>
			<td><a href="http://127.0.0.1:5000/addToStory ">Add to Story</a></td>
		</tr>
		{% endfor %}
	</table>

	</form>

{% endblock %}
