{% extends "template.html" %}
{% block title %}Signup{% endblock %}
{% block body %}
<div>
	<h1> Sign up </h1>

  {% for message in get_flashed_messages() %}
    {{ message }}
    <br>
  {% endfor %}
	<form>
	  Username:
	  <input type="text" name="username">
	  <br> <br>
	  Password:
	  <input type="text" name="password">
    <br> <br>
    Confirm password:
	  <input type="text" name="password2">
    <br> <br>
    <input id = "button" type="submit" name="sub1">
    </form> <br>
		<a id = "button" href="http://127.0.0.1:5000/">Go back</a>
	</div>
	{% endblock %}
