{% extends "template.html" %}
{% block title %}View{% endblock %}
{% block body %}
	<h1> View </h1>

  <table>
		<th>Story IDs</th>
		<th>Title</th>
    {% for stories in story%}
    <tr>
      <td>{{stories[0]}}</td>
      <td>{{stories[1]}}</td>
    </tr>
    {% endfor %}
  </table>

  <br>

  <table>
		<th>User IDs</th>
		<th>Usernames</th>
		<th>Passwords</th>
    {% for stories in users%}
    <tr>
      <td>{{stories[0]}}</td>
      <td>{{stories[1]}}</td>
      <td>{{stories[2]}}</td>
    </tr>
    {% endfor %}
  </table>
<br>

<table>
	<th>Story IDs</th>
	<th>User IDs</th>
	<th>Text</th>
  {% for stories in edits%}
  <tr>
    <td>{{stories[0]}}</td>
    <td>{{stories[1]}}</td>
    <td>{{stories[2]}}</td>
    <td>{{stories[3]}}</td>
  </tr>
  {% endfor %}
</table>



	{% endblock %}
